@page
@model PeopleSearch.Pages.People.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-page="Create">Create New</a>
    </p>

    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name:
                <input type="text" name="SearchString" value="@Model.SearchString" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-page="./Index">Back to full List</a>
            </p>
        </div>
    </form>

    <table class="table">
        <thead>
          <tr>
            <th>
              @Html.DisplayNameFor(model => model.People[0].FirstName)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.People[0].LastName)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.People[0].BirthDate)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.People[0].DeathDate)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.People[0].Age)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.People[0].Image)
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.People)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeathDate)
                    </td>
                    <td>
                        <img src="data:image/jpg;base64,@Convert.ToBase64String(item.Image)" height="250px" width="auto" />
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
