@page
@using PeopleSearch.Models
@model Person

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-page="./People/Index">People Home</a>
    </p>

    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name:
                <input type="text" name="SearchString" id="searchString" />
                <input type="button" value="Search" id="search" class="btn btn-default" /> |
                <a asp-page="./Index">Back to full List</a>
            </p>
        </div>
    </form>

    <table class="table">
        <thead>
          <tr>
            <th>
              @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.DeathDate)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody id="results">
        </tbody>
    </table>
</body>
</html>

@section Scripts{
    <script type="text/javascript">
        $('#search').on('click', function () {
          $.get(`/api/people?searchString=` + $('#searchString')[0].value).done(function (people) {
                var tbl = $('#results');
            people.forEach(function (person) {
              tbl.append(`<tr>
  <td>` + person.firstName + `</td>
  <td>` + person.lastName + `</td>
  <td>` + person.birthDate + `</td>
  <td>` + person.deathDate + `</td>
  <td>` + person.age + `</td>
  <td><img src="data:image/jpg;base64,` + person.imageAsBase64 + `" height="250px" width="auto" /></td>
  </tr>`);
                });
            });
        });
    </script>
}
